* {
    max-width: 100%;
}

html {
    background-color: #535353;
    ;
}

header>h1>a:first-child {
    color: #ffffff;
}

header>h1>a:last-of-type {
    color: #F47458;
}

.account>h2 {
    color: #ffffff;
}

.account>p {
    color: #ffffff;
}

.account>p>a {
    color: #F47458;
}

a {
    text-decoration: none;
}

.account form>input {
    background: #CFCFCF;
    border-radius: 4px;
    border: none;
}

.account form>button[type="submit"] {
    color: #ffffff;
    background: #F47458;
    border-radius: 4px;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.account form>button[type="submit"]:hover {
    background: #F47458;
    opacity: 70%;
}

.full-input {
    border: 1px solid #CFCFCF;
    background: #CFCFCF;
    border-radius: 4px;
}

.account input {
    background: #CFCFCF;
    border: none;
    outline: none;
    width: 88%;
}

.account label {
    opacity: 75%;
}

.account input::placeholder {
    color: black;
    opacity: 50%;
}

.sidebar::after {
    content: "\2630";
    color: white;
    font-size: 35px;

}

#sidebar:checked~.sidebar::after {
    content: "\2715";
    color: #000000;
}

div.username {
    background: #CFCFCF;
    opacity: 78%;
}

.username h3 {
    opacity: 90%;
    color: #000000;

}

.username img {
    opacity: 100%;
    height: 60px;
    width: 60px;
}


div.filler {
    background: #CFCFCF;
    opacity: 78%;
}


body img {
    border-radius: 50%;
    height: 20%;
    width: 20%;
}


input#sidebar {
    display: none;
}

nav#menu {
    background-color: #CFCFCF;
    border-bottom-left-radius: 5px;
    opacity: 78%;

}

input#sidebar:checked~.sidebar {
    background-color: #CFCFCF;
    border-top-left-radius: 5px;
    opacity: 78%;
}

label {
    cursor: pointer;
}

#menu li {
    width: 100%;
    height: 100%;
    list-style-type: none;
}

#menu li:hover {
    background-color: grey;
    opacity: 100%;
}

#menu li>a:nth-child(2) {
    color: #F47458;
}

#menu li>a:first-child {
    color: #FFFFFF;
}


form#logout button,
form#login button {
    color: #000000;
    background-color: #CFCFCF;
    opacity: 78%;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

form#logout button:hover,
form#login button:hover {
    background-color: grey;
    border-radius: 10px;
}

section {
    padding-left: 25px;

}

section h2 {
    color: #FFFFFF;
    margin: 0px;
}

section h3 {
    color: #FFFFFF;
}

section#faq div.departments {
    background-color: #CFCFCF;
    border-radius: 10px;
}

section#faq div.questions {
    background-color: #CFCFCF;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;

}


section#faq div.questions .question h4 {
    word-wrap: break-word;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #F47458;

}

section#faq div.questions .question p {
    word-wrap: break-word;
    margin: 0px;
    padding-bottom: 15px;
}




section#faq div.departments h3 {
    background-color: #cFcFcF;
    color: #F47458;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 3px;
    text-align: center;

}

section#faq div.departments h3:first-child {
    margin-top: 10px;
}

section#faq div.questions div.question:first-child {
    margin-top: 15px;

}

hr{
    opacity: 70%;
}

section#faq div.departments :hover {
    background-color: grey;
    color: white;

}

div.open-tickets,
div.solved-tickets,div.unassigned-tickets {
    border-radius: 8px;
    background-color: #CFCFCF;
    opacity: 78%;
    margin-right: 10px;
}

div.open-tickets>p,
div.solved-tickets>p,div.unassigned-tickets>p {
    padding-left: 15px;
}


a.ticket{
    background-color: white;
    border-radius: 8px;
}

a.ticket h4{  
    margin: auto;
    text-align: center;
    color: #F47458;
}

a.ticket p{
    margin:auto;
    margin-left: 5px;
    margin-right: 5px;;
    color:black;
    word-wrap: break-word;
    text-align: center;
}

a.ticket h5{
    margin:auto;
    text-align: center;
    color: #000000;
}
a.ticket h6{
    display:flex;
    margin-right: 5px;
    margin-bottom: 4px;
    margin-top:10px;
    color:black;
    word-wrap: break-word;
    justify-content: end;

}

section#chat div.client-message, section#chat div.agent-message{
    background-color: #b3b3b3;
    width:60%;
    word-wrap: break-word;
    margin-top: 15px;
    border-radius: 8px;
    
}
 section#chat div.messages{
    background-color: #CFCFCF;
    border-radius: 5px;
 }



 input#sidebar:checked~section#chat div.messages{
    margin-right: 30px;
}

section#chat div.message-input input{
    padding: 0px;
    border: none;
    outline: none;
    width: 100%;
    background: #b3b3b3;
    height: 100%;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 8px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

section#chat div.message-input{
    height: 30px; 
    background: #b3b3b3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

section#chat div.messages h4{
    color:#F47458
 }

 section#chat h3{
    margin: 0px;
    color:#F47458;
    padding:10px;
}

 


footer {
    color: white;
}