@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

header>h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 22px;
    letter-spacing: 0.03em;
}

.username h3 {
    font-weight: 550;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.03em;
}

.account>h2 {
    font-weight: 600;
    font-size: 56px;
    line-height: 84px;
}

.account>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
}

.account label {
    font-weight: 300;
    font-size: 13px;
    line-height: 14px;
}

.account input {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.account button {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

nav#menu ul {
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: 0.03em;
}

form#logout button,
form#login button {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;

}


section>h2 {
    font-weight: 600;
    font-size: 56px;
    line-height: 84px;
}

section h3 {
    font-weight: 600;
    font-size: 21px;
    line-height: 22px;
    letter-spacing: 0.03em;
}

h4{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em; 
}

div.questions p{
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.03em; 
}

div.ticket p{
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.03em; 
}

div.ticket h5{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.03em; 
}

footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}